<query name="selectAll">
	select ID, THUMBNAIL	, PREVIEW, IMG, SHOWED, PAGE
	from GALLERY
</query>

<query name="selectAllByPage">
	select ID, THUMBNAIL	, PREVIEW, IMG, PAGE
	from GALLERY
	where PAGE = ?
</query>

<query name="selectToShowByPage">
	select ID, THUMBNAIL, PREVIEW, IMG, SHOWED, PAGE
	from GALLERY
	where SHOWED = 1
		and PAGE = ?
</query>

<query name="selectById">
	select ID, THUMBNAIL	, PREVIEW, IMG, SHOWED, PAGE
	from GALLERY
	where ID = ?
</query>

<query name="insert">
	insert into GALLERY (THUMBNAIL	, PREVIEW, IMG, SHOWED, PAGE)
	values (?, ?, ?, ?, ?)
</query>

<query name="update">
	update GALLERY
	set SHOWED = ?,
		  PAGE = ?
	where ID ? ?
</query>

<query name="delete">
	delete from GALLERY
	where ID = ?
</query>