<query name="selectAll">
	select ID, TITLE, DESCRIPTION, IMG, URL, DATE, SHOWED
	from NEWS 
	order by DATE desc
</query>

<query name="selectAllToShow">
	select ID, TITLE, DESCRIPTION, IMG, URL, DATE, SHOWED
	from NEWS 
	where SHOWED = 1
	order by DATE desc
</query>

<query name="selectLastNews">
	select ID, TITLE, DESCRIPTION, IMG, URL, DATE, SHOWED
	from NEWS 
	where SHOWED = 1
	order by DATE desc
	limit 2
</query>

<query name="insert">
	insert into NEWS (TITLE, DESCRIPTION, IMG, URL, DATE, SHOWED)
	values (?, ?, ?, ?, ?, ?)
</query>

<query name="update">
	update NEWS 
	set 	TITLE = ?, 
			DESCRIPTION = ?, 
			IMG = ?, 
			URL = ?, 
			DATE = ?, 
			SHOWED = ?
	where ID = ?
</query>

<query name="deleteById">
	delete from NEWS 
	where ID = ?
</query>