<query name="selectAll">
	select ID, DATE_FORMAT(TIME, "%H:%i"), DAY, ACTIVITY
	from CALENDAR_ACTIVITY 
	order by TIME asc
</query>

<query name="insert">
	insert into CALENDAR_ACTIVITY (TIME, DAY, ACTIVITY, NOTE)
	values (?, ?, ?, ?)
</query>

<query name="truncate">
	truncate table CALENDAR_ACTIVITY
</query>

<!--

<query name="selectAll">
	select DATE_FORMAT(ORA, "%H:%i"), LUNEDI, MARTEDI, MERCOLEDI, GIOVEDI, VENERDI 
	from CALENDAR_ACTIVITY 
	order by ORA asc
</query>

<query name="update">
	update CALENDAR_ACTIVITY 
	set 
		ORA = ?, 
		LUNEDI = ?, 
		MARTEDI = ?, 
		MERCOLEDI = ?, 
		GIOVEDI = ?, 
		VENERDI = ?
	where ORA = ?
</query>

<query name="insert">
	insert into CALENDAR_ACTIVITY (ORA, LUNEDI, MARTEDI, MERCOLEDI, GIOVEDI, VENERDI)
	values (?, ?, ?, ?, ?, ?)
</query>

-->
