<query name="selectDistinctTime">
	SELECT distinct DATE_FORMAT(ca.TIME, '%H:%i') AS TIME
	FROM ACTIVITY a JOIN  CALENDAR_ACTIVITY ca 
		ON ca.ACTIVITY = a.ID
	ORDER BY DATE_FORMAT(ca.TIME , '%H:%i') asc
</query>

<query name="selectFilteredByTimeDay">
	SELECT a.ID, a.NAME, ca.NOTE
	FROM ACTIVITY a, CALENDAR_ACTIVITY ca 
	WHERE ca.ACTIVITY = a.ID
		AND DATE_FORMAT(ca.TIME, '%H:%i') = ?
		AND ca.DAY = ?
	ORDER BY a.NAME asc
</query>

<query name="selectDistinctActivityData">
	SELECT distinct DATE_FORMAT(ca.TIME, '%H:%i') AS TIME, ca.DAY, a.NAME, a.DESCRIPTION as DES, a.IMG
	FROM ACTIVITY a JOIN  CALENDAR_ACTIVITY ca 
		ON ca.ACTIVITY = a.ID
	ORDER BY a.NAME asc
</query>

<query name="selectFilteredByNameDay">
	select GROUP_CONCAT(TIME SEPARATOR ' ed alle ')
	from(
		SELECT DATE_FORMAT(ca.TIME, '%H:%i') AS TIME
		FROM ACTIVITY a JOIN  CALENDAR_ACTIVITY ca 
			ON ca.ACTIVITY = a.ID
		WHERE a.NAME = ?
			AND ca.DAY = ?
		ORDER DATE_FORMAT(ca.TIME , '%H:%i') asc
		)t
</query>

<query name="selectAlltOrderedByTime">
	SELECT DATE_FORMAT(ca.TIME, '%H:%i') AS TIME, ca.DAY, a.NAME, a.DESCRIPTION as DES, a.IMG
	FROM ACTIVITY a JOIN  CALENDAR_ACTIVITY ca 
		ON ca.ACTIVITY = a.ID
	ORDER BY DATE_FORMAT(ca.TIME, '%H:%i') AS TIME asc
</query>

<query name="selectAllOrderedByName">
	SELECT DATE_FORMAT(ca.TIME, '%H:%i') AS TIME, ca.DAY, a.NAME, a.DESCRIPTION as DES, a.IMG
	FROM ACTIVITY a JOIN  CALENDAR_ACTIVITY ca 
		ON ca.ACTIVITY = a.ID
	ORDER BY a.NAME asc
</query>

<query name="selectAllOrderedByDay">
	select DATE_FORMAT(ca.TIME, "%H:%i") as TIME, ca.DAY, a.NAME, a.DESCRIPTION as DES, a.IMG
	from ACTIVITY a
		join CALENDAR_ACTIVITY ca
			on a.ID = ca.ACTIVITY
	ORDER BY 
		CASE
			WHEN ca.DAY = 'LUNEDÌ' THEN 1
			WHEN ca.DAY = 'MARTEDÌ' THEN 2
			WHEN ca.DAY = 'MERCOLEDÌ' THEN 3
			WHEN ca.DAY = 'GIOVEDÌ' THEN 4
			WHEN ca.DAY = 'VENERDÌ' THEN 5
		END ASC, 
		ca.TIME asc
</query>

<query name="selectDetailedActivityList">
	SELECT a.NAME AS NAME, a.DESCRIPTION AS DES, a.IMG AS IMG, 
		GROUP_CONCAT( DISTINCT tv.DAY,  ' ', tv.TIME 
			ORDER BY FIELD( tv.DAY,  1,  2,  3,  4,  5,  6,  7 ) , tv.TIME ) AS TIME, a.SHOWED as SHOWED
	FROM ACTIVITY a
		LEFT JOIN (
			SELECT DATE_FORMAT(ca.TIME, '%H:%i') AS TIME, ca.DAY, a.NAME, a.DESCRIPTION as DES, a.IMG
			FROM ACTIVITY a 
				JOIN  CALENDAR_ACTIVITY ca 
					ON ca.ACTIVITY = a.ID
			ORDER BY a.NAME, ca.DAY, DATE_FORMAT(ca.TIME , '%H:%i')

		) AS tv 
			ON a.NAME = tv.NAME
	GROUP BY a.NAME, a.DESCRIPTION, a.IMG
	ORDER BY a.NAME = 'SALA FITNESS' DESC , a.NAME ASC 
</query>

<query name="selectDetailedActivityListToShow">
	SELECT a.NAME AS NAME, a.DESCRIPTION AS DES, a.IMG AS IMG, 
		GROUP_CONCAT( DISTINCT tv.DAY,  ' ', tv.TIME
			ORDER BY FIELD( tv.DAY,  1,  2,  3,  4,  5,  6,  7 ) , tv.TIME 
		) AS TIME
	FROM ACTIVITY a
		LEFT JOIN (
			SELECT DATE_FORMAT(ca.TIME, '%H:%i') AS TIME, ca.DAY, a.NAME, a.DESCRIPTION as DES, a.IMG
			FROM ACTIVITY a 
				JOIN  CALENDAR_ACTIVITY ca 
					ON ca.ACTIVITY = a.ID
			ORDER BY a.NAME, ca.DAY, DATE_FORMAT(ca.TIME , '%H:%i')
		) AS tv 
			ON a.NAME = tv.NAME
	WHERE a.SHOWED = 1
	GROUP BY a.NAME, a.DESCRIPTION, a.IMG
	ORDER BY a.NAME = 'SALA FITNESS' DESC , a.NAME ASC 
</query>